body {
  background-color: #f0ac03;
}

@font-face {
    font-family: 'Pedigree Unleashed';
    src: url('../../asssets/hero-bg-xs.jpg') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  .hero-container h2 {
    font-family: "Pedigree Unleashed", Arial;
    font-size: 68.3px;
    line-height: 71.715px;
    text-align: left;
    letter-spacing: normal;
    color: #ffffff;
    width: 516px;
  height: 358px;

    padding: 27px;
    font-weight: 900;
    margin: 0;
    z-index: 1;

  }


h2 {
    display: block;
    margin: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero-section {
  position: relative;
  height: 100vh;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 50px;
}
.hero-image {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  height: 60%;
  margin:0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}



.hero-dog-image {
  position: absolute;
  top: 80px;
  right: 50px;
  height: 469px;
  width: 734px;
  z-index: 1;
}

.hero-left-image {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 130px;
  width: 220px;
  z-index: 1;
}